<div class="wrapper" id="landing-cover">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" >
<main role="main" class="inner cover text-center">
    <div class="cover-block">
    <h1 class="cover-heading display-4"> <strong>TECT2TeCH</strong></h1>
    <h3>An awesome solution for one to one coding interview from any place on the earth </h3>
    <p class="lead mt-3">
      <a href="/account/login" class="btn btn-lg btn-outline-light rounded-pill">Get Started</a>
    </p>
    </div>
</main>
</div>
</div>
 <style>
.cover-container {
  max-width: 42em;
}
.cover-block{
margin: 20% 0;
}
</style>