<div class="container" id="thank-msg">
    <br><br><br>
<h1 class="display-4">
    Thank you {{name}} <i class="far fa-smile-wink"></i>
</h1>
<p class="lead">we 'll send you an email regarding you question or back </p>
</div>